.recipes {

  &__container {
    align-items: center;
    justify-content: flex-start;
  }

  &__card {
    max-width: 23%;
  }

  &__add {
    padding: 1rem 3rem;
    border-radius: 0.4rem;
    background-color: #17b724;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 2rem;
    color: #fff;
  }
}
