<div class="home__main-recipe" *ngIf="(meal$ | async) as meal">
  <div class="main-recipe__image-container">
    <img
      src="{{ meal.strMealThumb }}"
      alt="{{ meal.strMeal }}"
      width="300"
      class="main-recipe__image"
    />
  </div>
  <div class="main-recipe__text-wrapper">
    <span class="main-recipe__reviews">{{ rating }}% Users like that</span>
    <h3 class="main-recipe__name">{{ meal.strMeal }}</h3>
    <p class="main-recipe__desc">
      Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quae at placeat
      incidunt nihil a harum, rem deleniti voluptates praesentium accusantium
      sint, expedita consectetur fuga illo eveniet magni veniam facere quisquam.
    </p>
    <a class="main-recipe__button" routerLink="/recipe/{{ meal.idMeal }}">
      <img src="../../../../../assets/img/arrow.svg" alt="" width="40" />
    </a>
  </div>
</div>
