@use "../../../../../assets/styles" as *;

.home {
  &__category {
    margin: 4rem 0;
  }
}

.category {
  &__name {
    font-size: 3rem;
  }

  &__recipes {
    position: relative;
    display: flex;
    justify-content: space-between;
    gap: 4rem;
    width: 100%;
    margin: 1rem 0;

    @include respond-to($screen-md) {
      gap: 2rem;
      justify-content: flex-start;
      flex-wrap: wrap;
    }

    & * {
      @include respond-to($screen-md) {
        min-width: 16rem;
        flex: 1;
      }
    }
  }
}
