.search {
  &__filters {
    height: 100%;
    display: flex;
  }
}

.filters {
  &__select {
    padding: 1rem 2rem;
    margin: 0 1rem;
    border-radius: 0.4rem;
    border-color: #888;

    &:focus {
      outline-color: #000;
    }
  }
}
