<footer class="footer">
  <div class="footer__wrapper">
    <div class="footer__text-content">
      <h2 class="footer__heading">Tastebite</h2>
      <p class="footer__text">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsa,
        reiciendis omnis rem exercitationem fuga quia alias voluptatum placeat
        magnam quo.
      </p>
    </div>
    <div class="footer__links-container">
      <ul class="footer__links">
        <span class="footer__link footer__link--title">Tastebite</span>
        <a class="footer__link" routerLink="/">About us</a>
        <a class="footer__link" routerLink="/">Careers</a>
        <a class="footer__link" routerLink="/">Contact us</a>
        <a class="footer__link" routerLink="/">Feedback</a>
      </ul> 
      <ul class="footer__links" routerLink="/">
        <span class="footer__link footer__link--title">Legal</span>
        <a class="footer__link" routerLink="/">Terms</a>
        <a class="footer__link" routerLink="/">Conditions</a>
        <a class="footer__link" routerLink="/">Cookies</a>
        <a class="footer__link" routerLink="/">Copyright</a>
      </ul> 
      <ul class="footer__links" routerLink="/">
        <span class="footer__link footer__link--title">Follow</span>
        <a class="footer__link" routerLink="/">Facebook</a>
        <a class="footer__link" routerLink="/">Twitter</a>
        <a class="footer__link" routerLink="/">Instagram</a>
        <a class="footer__link" routerLink="/">Youtube</a>
      </ul>
    </div>
  </div>
  <hr class="footer__line"/>
  <div class="footer__wrapper">
    <p class="footer__copyright">&copy; 2022 Tastebite - All rights resrved</p>
  </div>
</footer>
