$font-inter: "Inter", sans-serif;
$font-playfair: "Playfair Display", sans-serif;

$button-primary: #ff642f;
$background-primary: #ffffff;
$background-secondary: #ffd7c9;
$background-highlight: #e3f1ff;
$background-footer: #f9f9f9;
$color-primary: #000000;
$color-secondary: #7f7f7f;

$screen-md: 1024px;
$screen-sm: 640px;