.category-card {
  cursor: pointer;
  &__image-container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    border-radius: 50%;
  }

  &__image {
    height: 100%;
  }

  &__name {
    margin-top: 2.8rem;
    font-size: 1.8rem;
    font-weight: 700;
    text-align: center;
    color: #000;
  }
}
